[submodule "zsh/.zsh.d/custom/plugins/zsh-autosuggestions"]
	path = zsh/.zsh.d/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zsh.d/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh.d/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
